@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans';
  background-image: url('@/assets/imageback.png');
}
.center {
  display: flex;
  justify-content: center;
}
.box {
  width: 300px;
  border: 15px solid white;
  padding: 50px;
  margin: 20px;
}
